*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  background: #eee;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

.link:active,
.link:hover,
.link {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1px 15px;
  background: linear-gradient(#ffffff 50%, #d8efff);
  color: #01457a;
}
.bg-yellow {
  left: 32% !important;
  max-width: 54%;
  max-height: clamp(14px, 14px + 26 * (100vw - 320px) / 1600, 40px);
}
.bg-green {
  left: 28% !important;
  max-width: 49%;
  max-height: clamp(14px, 14px + 36 * (100vw - 320px) / 1600, 50px);
}
.bg-blue {
  max-width: 65%;
  max-height: clamp(16px, 16px + 40 * (100vw - 320px) / 1600, 56px);
}
h1,
h2 {
  position: relative;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 16px + 24 * (100vw - 320px) / 1600, 40px);
  z-index: 1;
  padding: clamp(0px, 0px + 18 * (100vw - 320px) / 1600, 18px)
    clamp(10px, 10px + 35 * (100vw - 320px) / 1600, 45px)
    clamp(20px, 20px + 38 * (100vw - 320px) / 1600, 58px);
}
main {
  position: relative;
  max-width: 1380px;
  margin: clamp(30px, 30px + 110 * (100vw - 320px) / 1600, 140px) auto
    clamp(30px, 30px + 87 * (100vw - 320px) / 1600, 117px);
  background: #fff;
  box-shadow: 0px 0px 25px rgba(142, 160, 173, 0.35);
}
.home-page,
.about-page,
.risk-page {
  position: relative;
}
.bg-blue1,
.bg-blue2 {
  position: absolute;
  top: clamp(-44px, -44px + 44 * (100vw - 320px) / 1100, 0px);
  max-width: 97%;
}
.about-title {
  position: relative;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: clamp(0px, 0px + 18 * (100vw - 320px) / 1600, 18px)
    clamp(10px, 10px + 35 * (100vw - 320px) / 1600, 45px)
    clamp(30px, 30px + 70 * (100vw - 320px) / 1600, 100px);
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: clamp(15px, 15px + 25 * (100vw - 320px) / 1600, 40px);
  gap: 29px;
  background: #ffffff;
  border: 1px solid #01457a;
  box-shadow: 0px 0px 25px rgba(142, 160, 173, 0.35);
  border-radius: 20px;
}
.item__icon {
  align-self: start;
  width: clamp(40px, 40px + 40 * (100vw - 320px) / 1600, 80px);
  height: auto;
}
.item__question {
  position: relative;
  padding-right: 50px;
}
.item__question p {
  position: relative;
  /* z-index: 1; */
  font-size: clamp(14px, 14px + 10 * (100vw - 320px) / 1600, 24px);
}
.item:last-child span {
  white-space: nowrap;
}
.item__question_border {
  position: absolute;
  top: clamp(-15px, -15px + 15 * (100vw - 767px) / 1153, 0px);
}
.item__text_wrapper {
  position: relative;
}
.item__text {
  font-size: clamp(14px, 14px + 10 * (100vw - 320px) / 1600, 24px);
}
.item__text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -140px 60px -80px rgba(255, 255, 255, 0.94);
}
.pointer {
  position: absolute;
  width: clamp(28px, 28px + 20 * (100vw - 320px) / 1600, 48px);
  height: auto;
  top: -10%;
  right: -2%;
}
.about {
  padding: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px)
    clamp(10px, 10px + 35 * (100vw - 320px) / 1600, 45px)
    clamp(30px, 30px + 60 * (100vw - 320px) / 1600, 90px);
}
.comment {
  margin: auto;
  font-weight: 700;
  font-size: clamp(16px, 16px + 12 * (100vw - 320px) / 1600, 28px);
  text-align: center;
  color: #01457a;
  padding: clamp(10px, 10px + 12 * (100vw - 320px) / 1600, 22px);
  background: linear-gradient(90deg, #fdd966 0%, #bcd77e 68.54%);
  border-radius: 20px;
}
h3 {
  font-weight: 700;
  font-size: clamp(16px, 16px + 8 * (100vw - 320px) / 1600, 24px);
  text-align: center;
  padding: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px) 0
    clamp(20px, 20px + 30 * (100vw - 320px) / 1600, 50px);
}
.cards,
.advices {
  display: flex;
  justify-content: space-between;
  gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
}
h4 {
  font-weight: 500;
  font-size: clamp(16px, 16px + 12 * (100vw - 320px) / 1600, 28px);
}
.card {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(20px, 20px + 10 * (100vw - 320px) / 1600, 30px)
    clamp(10px, 10px + 9 * (100vw - 320px) / 1600, 19px);
  gap: 15px;
  background: linear-gradient(90deg, #fbfdff 0%, #d8efff 100.86%);
  box-shadow: 0px 0px 25px rgba(142, 160, 173, 0.35);
  border-radius: 20px;
  font-size: clamp(14px, 14px + 10 * (100vw - 320px) / 1600, 24px);
  text-align: center;
  color: #01457a;
}
.card__icon {
  width: clamp(70px, 70px + 108 * (100vw - 320px) / 1600, 178px);
  height: auto;
}
.advice {
  max-width: 630px;
}
.arrows {
  display: flex;
  justify-content: center;
  gap: clamp(10px, 10px + 20 * (100vw - 320px) / 1600, 30px);
}
.arrow {
  width: clamp(220px, 220px + 207 * (100vw - 767px) / 1153, 427px);
  height: auto;
}
@media only screen and (max-width: 767px) {
  .item {
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .pointer {
    top: -10px;
  }
  .item__question {
    padding: 0;
  }
  .item__question_border {
    display: none;
  }
  .arrow {
    display: none;
  }
  .cards,
  .advices {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advices {
    margin-top: 30px;
  }
  .modalCarts {
    flex-wrap: wrap;
  }
}
/* modal */
.modal-wrapper {
  width: 1290px;
  display: flex;
  align-self: start;
  padding: 15px;
}
.modal-wrapper h3 {
  font-size: clamp(18px, 18px + 12 * (100vw - 320px) / 1600, 30px);
}
.modal-1,
.modal-2 {
  background: white;
  height: 100%;
  width: 100%;
  border: 1px solid #01457a;
  border-radius: 15px;
  padding: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 40px);
}
.modal-1 p,
.modal-2 p {
  font-size: clamp(14px, 14px + 10 * (100vw - 320px) / 1600, 24px);
  line-height: 1.3;
  padding: 10px 0;
}
.modal-2 p:first-child {
  font-weight: bold;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 10px 50px 100px 100px #555;
  z-index: 10;
  padding: 15px;
}
.chart {
  margin: 20px 0;
  height: auto;
}
.modalCarts {
  display: flex;
  justify-content: center;
  gap: clamp(20px, 20px + 20 * (100vw - 320px) / 1600, 54px);
}
.modalCart {
  width: clamp(210px, 210px + 157 * (100vw - 767px) / 1153, 367px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fdd96640;
  border-radius: clamp(10px, 10px + 10 * (100vw - 320px) / 1600, 20px);
  padding: clamp(15px, 15px + 15 * (100vw - 320px) / 1600, 30px);
}
.modalCart div {
  font-size: clamp(46px, 46px + 50 * (100vw - 320px) / 1600, 96px);
  font-weight: bold;
}
.modalCart p:last-child {
  font-size: clamp(12px, 12px + 6 * (100vw - 320px) / 1600, 18px);
}
